body {
    background-image: url("assets/images/BKG_Flat_modernArchitectureWave.jpg");
    background-size: cover; 
}

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: white;
    margin-top: 0; 
    margin-bottom: 0;
}

h2 {
    font-family: "Myriad Pro", Futura, Helvetica, Arial, sans-serif;
    text-align: center;
    color: white;
    margin-top: 0; 
    margin-bottom: 0;
}

p {
    color: white;
    text-align: center;
    font-family: Helvetica, sans-serif;
    margin-top: 0; 
    margin-bottom: 0;
}

a {
    text-decoration: none; 
    color: inherit; 
}

.head {
    flex: 1;
    position: relative;
}

.head.float {
    position: absolute;
    top: 0px;
    right: 2px;
}

.flags {
	width: 75px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flags_item {
	width: 30px;
}

.flags_img {
	display: block;
	cursor: pointer;
}

.explorer {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.column {
    flex: 1;
    flex-direction: column;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    /*background-color: #005151;*/
    padding: 10px;
    border: 1px solid #00a78391;
    border-radius: 5px;
    height: 100%;
    overflow-y: auto;
}

.hidden {
    visibility: hidden;
}

.win-scale {
    animation: scale-up-top-left 0.5s;}
    @keyframes scale-up-top-left
    {0%
    {transform:scale(.5);transform-origin:top left}
    100%{transform:scale(1);transform-origin:top left}
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

li:last-child {
    border-bottom: none;
}

button {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background: #00515100 ;
    border: 0;
    border-radius: 0;
    width: 100%;
    padding: 5px;
}

button:hover {
    background: #96969628;
}

.iframe {
    flex: 1;
    width: 100%;
    min-height: 520px;
    height: 100%;
    border: none;
}

.underline {
    color: #7EC5B5;
    text-decoration: underline;
}

.container.WM {
    position: absolute; 
    top: -30px; 
    right: -20px;
    z-index: 1;   
}

.silo {
    width: 130%; 
    height: 130%;
}

::-webkit-scrollbar {
    display: none !important;
}

.focus {
    background: red;
}